<!DOCTYPE html>
<html>
    <head>
        <meta charset="ISO-8859-1">
        <link rel="stylesheet" 
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    </head>
    <style>
        .navbar {
            background-color: #d9edf7;
        }
    </style>

    <body>

        <!-- create navigation bar ( header) -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <h2> Sistema de autenticaci&#243;n de dos factores (2FA)</h2>
                </div>
            </div>
        </nav>

        <br><br><br><br><br><br><br>
        <!-- Create HTML registration form -->
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">

                    <h1>Registar Cuenta Usuario</h1>

                    <form th:action="@{/register}" method="post" 
                          th:object="${user}">
                        <div class="form-group">
                            <label class="control-label" for="firstName"> 
                                Nombres y Apellidos: </label>
                            <input id="firstName" class="form-control" 
                                   th:field="*{name}" required
                                   autofocus="autofocus" />
                        </div>


                        <div class="form-group">
                            <label class="control-label" for="email"> Email: 
                            </label> <input id="email" class="form-control"
                                            th:field="*{email}" required autofocus="autofocus" 
                                            />
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="cellPhone"> 
                                Celular: </label>
                            <input id="cellPhone" class="form-control" 
                                   th:field="*{cellPhone}" required
                                   autofocus="autofocus" />
                        </div>



                        <div class="form-group">
                            <label class="control-label" for="password"> 
                                Contrase&ntilde;a: </label> <input id="password"
                                                     class="form-control" type="password" 
                                                     th:field="*{password}" required
                                                     autofocus="autofocus" />
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">
                                Registrar</button>
                            <span>Tienes una cuenta? <a href="/" 
                                                         th:href="@{/login}">Login
                                    </a></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>